body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
